-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: agrox_fyp
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `room_id` int NOT NULL,
  `sender_id` int NOT NULL,
  `message` text NOT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_room` (`room_id`),
  KEY `idx_sender` (`sender_id`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `chat_messages_ibfk_1` FOREIGN KEY (`room_id`) REFERENCES `chat_rooms` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_messages_ibfk_2` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_rooms`
--

DROP TABLE IF EXISTS `chat_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_rooms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `buyer_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `listing_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_buyer` (`buyer_id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_listing` (`listing_id`),
  CONSTRAINT `chat_rooms_ibfk_1` FOREIGN KEY (`buyer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_rooms_ibfk_2` FOREIGN KEY (`seller_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_rooms_ibfk_3` FOREIGN KEY (`listing_id`) REFERENCES `wheat_listings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_rooms`
--

LOCK TABLES `chat_rooms` WRITE;
/*!40000 ALTER TABLE `chat_rooms` DISABLE KEYS */;
INSERT INTO `chat_rooms` VALUES (4,4,1,4,'2025-10-06 02:22:58','2025-10-06 18:38:10'),(5,4,1,1,'2025-10-06 15:52:14','2025-10-06 16:23:55'),(6,4,23,8,'2025-10-06 19:04:49','2025-10-06 19:15:59'),(7,23,4,7,'2025-10-06 19:17:05','2025-10-07 02:00:16');
/*!40000 ALTER TABLE `chat_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crop_reminders`
--

DROP TABLE IF EXISTS `crop_reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_reminders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `crop_name` varchar(100) NOT NULL,
  `field_name` varchar(100) NOT NULL,
  `planting_date` date NOT NULL,
  `land_preparation_date` date DEFAULT NULL,
  `seed_sowing_date` date DEFAULT NULL,
  `first_irrigation_date` date DEFAULT NULL,
  `second_irrigation_date` date DEFAULT NULL,
  `urea_dose_date` date DEFAULT NULL,
  `notified_first_irrigation` tinyint DEFAULT '0',
  `notified_second_irrigation` tinyint DEFAULT '0',
  `notified_urea_dose` tinyint DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `crop_reminders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crop_reminders`
--

LOCK TABLES `crop_reminders` WRITE;
/*!40000 ALTER TABLE `crop_reminders` DISABLE KEYS */;
INSERT INTO `crop_reminders` VALUES (1,1,'Wheat','Main Field','2025-11-12',NULL,NULL,'2025-11-26','2025-12-10','2025-12-17',0,0,0,'2025-11-26 23:08:57'),(2,23,'Wheat','Main Field','2025-11-12',NULL,NULL,'2025-11-26','2025-12-10','2025-12-17',0,0,0,'2025-11-26 23:15:13'),(3,23,'Wheat','Main Field','2025-11-27',NULL,NULL,'2025-11-27','2025-12-10','2025-12-17',0,0,0,'2025-11-27 00:10:11'),(4,23,'Wheat','Main Field','2025-11-27',NULL,NULL,'2025-11-27','2025-12-27','2025-12-27',0,0,0,'2025-11-27 00:12:25');
/*!40000 ALTER TABLE `crop_reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machinery_rentals`
--

DROP TABLE IF EXISTS `machinery_rentals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machinery_rentals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `machinery_type_id` int DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `description` text,
  `daily_rate` decimal(10,2) DEFAULT NULL,
  `min_days` int DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machinery_rentals`
--

LOCK TABLES `machinery_rentals` WRITE;
/*!40000 ALTER TABLE `machinery_rentals` DISABLE KEYS */;
INSERT INTO `machinery_rentals` VALUES (1,4,1,'arham','jsdafjk',23.00,22,'2025-05-14','2025-05-31',NULL,'2025-05-14 18:53:43'),(2,2,4,'arham','dsakj',2.00,12,'2025-05-15','2025-05-31',NULL,'2025-05-14 21:36:13'),(4,2,4,'ka hal','sjadha',2.00,12,'2025-05-15','2025-05-31',NULL,'2025-05-15 00:32:29'),(6,4,1,'tractor','dskjvjks',12.00,32,'2025-09-29','2025-09-30',NULL,'2025-09-29 05:46:38');
/*!40000 ALTER TABLE `machinery_rentals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machinery_types`
--

DROP TABLE IF EXISTS `machinery_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machinery_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machinery_types`
--

LOCK TABLES `machinery_types` WRITE;
/*!40000 ALTER TABLE `machinery_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `machinery_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL,
  `receiver_id` int NOT NULL,
  `listing_id` int DEFAULT NULL,
  `text` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `room_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sender_receiver_created` (`sender_id`,`receiver_id`,`created_at`),
  KEY `idx_receiver_created` (`receiver_id`,`created_at`),
  KEY `idx_room_id` (`room_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
INSERT INTO `messages` VALUES (1,4,7,3,'Hello from Thunder Client','2025-09-29 17:19:06',NULL),(2,4,1,NULL,'hi','2025-10-01 18:19:07',NULL),(3,4,1,NULL,'how are you','2025-10-01 18:19:18',NULL),(4,23,1,NULL,'ho','2025-10-01 18:23:28',NULL),(5,23,1,NULL,'ho hlo','2025-10-01 18:26:35',NULL),(6,4,1,NULL,'kis hal hn','2025-10-01 18:27:13',NULL),(7,4,1,NULL,'gg','2025-10-01 19:08:35',NULL),(8,4,1,NULL,'hi','2025-10-05 09:04:26',NULL);
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otps`
--

DROP TABLE IF EXISTS `otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `phone` varchar(20) NOT NULL,
  `otp_code` varchar(6) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otps`
--

LOCK TABLES `otps` WRITE;
/*!40000 ALTER TABLE `otps` DISABLE KEYS */;
INSERT INTO `otps` VALUES (1,'03016367687','889468','2025-04-19 21:54:59'),(2,'03026327777','626502','2025-04-20 01:51:00'),(3,'03016327777','608279','2025-04-20 01:57:46'),(4,'03016327779','178550','2025-04-20 02:11:57'),(5,'03016320293','124588','2025-04-20 02:42:19');
/*!40000 ALTER TABLE `otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesticide_listings`
--

DROP TABLE IF EXISTS `pesticide_listings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pesticide_listings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `organic_certified` tinyint(1) DEFAULT '0',
  `restricted_use` tinyint(1) DEFAULT '0',
  `local_delivery_available` tinyint(1) DEFAULT '1',
  `product_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pesticide_listings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesticide_listings`
--

LOCK TABLES `pesticide_listings` WRITE;
/*!40000 ALTER TABLE `pesticide_listings` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesticide_listings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesticides`
--

DROP TABLE IF EXISTS `pesticides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pesticides` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int NOT NULL,
  `description` text,
  `organic_certified` tinyint(1) DEFAULT '0',
  `restricted_use` tinyint(1) DEFAULT '0',
  `local_delivery_available` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesticides`
--

LOCK TABLES `pesticides` WRITE;
/*!40000 ALTER TABLE `pesticides` DISABLE KEYS */;
INSERT INTO `pesticides` VALUES (1,123,'Glyphosate',25.50,100,'A broad-spectrum herbicide.',0,1,1,'2025-05-15 15:30:55'),(2,3,'Glyphosate',25.50,100,'A broad-spectrum herbicide.',0,1,1,'2025-05-15 16:37:36'),(3,322,'Glyphosate',25.50,100,'A broad-spectrum herbicide.',0,1,1,'2025-05-15 16:42:34'),(4,322,'Glyphosate',25.50,100,'A broad-spectrum herbicide.',0,1,1,'2025-05-15 19:42:38'),(6,2,'asdasd',12.00,3,'sdkskdj',0,0,1,'2025-05-15 19:59:17'),(7,2,'lsdadlkl',3.00,2,'sdsldlsd',0,0,1,'2025-05-15 19:59:44'),(8,322,'Glyphosate',25.50,100,'A broad-spectrum herbicide.',0,1,1,'2025-05-15 20:13:24');
/*!40000 ALTER TABLE `pesticides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reminders`
--

DROP TABLE IF EXISTS `reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reminders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `field_number` int NOT NULL,
  `reminder_date` date NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reminders`
--

LOCK TABLES `reminders` WRITE;
/*!40000 ALTER TABLE `reminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `email_otp` varchar(6) DEFAULT NULL,
  `otp_attempts` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `phone` (`phone`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wheat_listings`
--

DROP TABLE IF EXISTS `wheat_listings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wheat_listings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `price_per_kg` decimal(10,2) NOT NULL,
  `quantity_kg` decimal(10,2) NOT NULL,
  `description` text NOT NULL,
  `wheat_variety` varchar(100) DEFAULT NULL,
  `grade_quality` varchar(100) DEFAULT NULL,
  `harvest_season` varchar(100) DEFAULT NULL,
  `protein_content` decimal(4,1) DEFAULT NULL,
  `moisture_level` decimal(4,1) DEFAULT NULL,
  `organic_certified` tinyint(1) DEFAULT '0',
  `pesticides_used` tinyint(1) DEFAULT '0',
  `local_delivery_available` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wheat_listings`
--

LOCK TABLES `wheat_listings` WRITE;
/*!40000 ALTER TABLE `wheat_listings` DISABLE KEYS */;
/*!40000 ALTER TABLE `wheat_listings` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-28 16:29:53
